{% extends 'resources/base.html' %}

{% load static %}

{% block title %}Questions{% endblock %}

{% block header_content %}
<h4>All Python interview questions in one place</h4>
{% endblock %}

{% block body %}
  <div class="list-group center-block">
    <a href="/questions" class="list-group-item list-group-item-action">See our questions!</a>
        <a href="/questions" class="list-group-item list-group-item-action list-group-item-success">First!</a>
        <a href="/questions" class="list-group-item list-group-item-action list-group-item-success">Second!</a>
        <a href="/questions" class="list-group-item list-group-item-action list-group-item-success">Last!</a>
  </div>
{% endblock %}
