{% extends 'resources/base.html' %}

{% load static %}

{% block title %}Questions{% endblock %}

{% block header_content %}
<h4>All Python interview questions in one place</h4>
{% endblock %}

{% block body %}
  <div class="list-group center-block">
    <h5><a href="/questions" class="list-group-item list-group-item-action">Sections:</a></h5>
        {% for item in questions.0.SUBJECT_CHOICES %}
        <a href="{% url 'questions-list' item.0 %}" class="list-group-item list-group-item-action list-group-item-success">{{ item.1 }}</a>
        {% endfor %}
  </div>
{% endblock %}
